Package: com.hombergerkurde.quicktranslate
Name: QuickTranslate
Version: 2.0.1
Architecture: iphoneos-arm64
Description: Systemweite Übersetzung mit Google Translate
Maintainer: hombergerkurde
Author: hombergerkurde
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 15.0)
